@model IQueryable<CommunityMS.Models.CommunityPerson>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div>
        <h1 align="center">社区人员登记管理系统</h1>
        <div>
            <form action="/CommunityPerson/Index" method="post">
                <input type="text" name="search" id="search" />
                <input type="submit" value="搜索"  class="btn btn-primary"/>
            </form>
        </div>
        <table class="table table-condensed table-bordered table-responsive">
            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>性别</th>
                <th>地址</th>
                <th>操作</th>
            </tr>
            @foreach (var item in ViewBag.Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.Age</td>
                    <td>@item.Sex</td>
                    <td>@item.Address</td>
                    <td><a href="/CommunityPerson/DeletePerson/@item.ID" class="btn btn-warning">删除</a></td>
                </tr>
            }
        </table>
        <p><a href="/CommunityPerson/Add" class="btn btn-link">登记</a></p>
    </div>
</body>
</html>
